/* General clearing of default values */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}


/* Basic structuring */

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* Navigation */

.nav {
    background-color: #a8f0c8;
    height: 3em;
}

.nav ul {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}